* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-image: url("https://github.com/NicholasConradHolzer/fgdp-GitQuotes/blob/main/assets/imgs/movie-bg.jpg?raw=true");
    background-size: cover;
}

.tmdb {
    display: inline;
    width: 50px;
    height:15px;
}
.carderizer {
    color: rgb(23, 22, 0);
    background-color: gold;
    border-radius: 25px
}
.cardborder {
    border-width: 5px;
    border-color: goldenrod;
}
.headsize {
    font-size: 20px;
    color: gold;
    margin-left: 5px;
}
#contentLander h2{
    font-size: 55px;
}

#modal{
    display: none ;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-image: url(../imgs/modal.jpg);
}
.aboutcard {
    color: rgb(23, 22, 0);
    background-color: goldenrod;
    border-width: 5px;
    border-color: gold;
    border-radius: 25px;
}
#nofindreset {
    display: inline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightskyblue;
    padding: 3px;
    border-width: 2px;
    border-color: indigo;
    border-radius: 5px;
}

