body {
    background-image: url("https://github.com/NicholasConradHolzer/fgdp-GitQuotes/blob/main/assets/imgs/movie-bg.jpg?raw=true");
}

.tmdb {
    display: inline;
    width: 50px;
    height:15px;
}

#contentLander h2{
    color: lightgray;
    font-size: 55px
}